/* --- Adicionando estilo a página ---*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

body {
  color: #0D244B;
  background: #fff;
  line-height: 1.6;
}

/* --- Adicionando estilo ao header ---*/

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.header {
  background: #f4f4f4;
  border-bottom: 1px solid #0D244B;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #0D244B;
  font-weight: 500;
}

/* --- Adicionando estilo a sessão de inicio ---*/

.hero {
  background: #fff;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-text p {
  margin-bottom: 25px;
  color: #0D244B;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  border-radius: 12px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0D244B;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
}

.info-icons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
  text-decoration: none;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0D244B;
  font-size: 14px;
  text-decoration: none;
}

.info-icon {
  font-size: 18px;
}

/* --- Adicionando estilo a sessão de serviços ---*/

.servicos {
  background: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}

.servicos-title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #1f3b4d;
}

.servicos-subtitle {
  color: #555;
  max-width: 650px;
  margin: 0 auto 50px auto;
}

.servicos-cta .btn {
  display: inline-block;
  padding: 12px 100px;   
  font-size: 14px;
  width: auto;            
  margin-top: 10px;
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.servicos-card {
  background: #e9e9e9;
  padding: 20px;
  border-radius: 4px;
  text-align: left;
  font-weight: 500;
  color: #2f3e46;
  transition: 0.3s;
}

.servicos-card:hover {
  background: #dcdcdc;
}

.servicos-cta {
  background: #e9e9e9;
  padding: 50px 30px;
  border-radius: 4px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.servicos-cta h3 {
  margin: 15px 0;
  font-size: 24px;
  color: #1f3b4d;
}

.servicos-cta p {
  margin-bottom: 25px;
  color: #555;
}

.cta-icon {
  font-size: 40px;
}

/* --- Adicionando estilo a sessão sobre  ---*/

.sobre {
  padding: 80px 0;
  background: #ffffff;
}

.sobre-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.sobre-texto {
  flex: 1;
}

.sobre-titulo {
  font-size: 34px;
  color: #1f3b4d;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sobre-texto p {
  margin-bottom: 15px;
  color: #444;
  line-height: 1.7;
}

.sobre-imagem {
  flex: 1;
  text-align: right;
}

.sobre-imagem img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* --- Adicionando estilo a sessão depoimentos ---*/

.depoimentos {
  background: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}

.depoimentos-title {
  font-size: 36px;
  color: #1f3b4d;
  margin-bottom: 10px;
}

.depoimentos-subtitle {
  color: #555;
  max-width: 600px;
  margin: 0 auto 50px auto;
}

.depoimentos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.depoimento-card {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 4px;
  text-align: left;
}

.depoimento-text {
  color: #333;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 15px;
}

.depoimento-nome {
  display: block;
  font-weight: 600;
  color: #1f3b4d;
  font-size: 14px;
}


/* --- Adicionando estilo a sessão contato ---*/

.section {
  padding: 70px 0;
  background: #ffffff;
}

.section h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.bg-light {
  background: #f9fafb;
}

.contato-section {
  padding: 80px 20px;
  background: #ffffff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.contato-header {
  text-align: left;
  margin-bottom: 60px;
}

.contato-header h2 {
  font-size: 32px;
  color: #1f3b4d;
}

.contato-header p {
  color: #4a5a66;
  max-width: 600px;
  margin: auto 0;
  text-align: left;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contato-info h3 {
  margin-bottom: 20px;
  color: #1f3b4d;
}

.info-box {
  display: flex;
  gap: 15px;
  background: #e9e9e9;
  padding: 18px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  text-decoration: none;
}

.info-box .icon {
  font-size: 22px;
}

.info-box strong {
  display: block;
  color: #1f3b4d;
  text-decoration: none;
}

.contato-form {
  background: #465b73;
  color: #fff;
  padding: 40px;
  border-radius: 4px;
}

.contato-form h3 {
  margin-bottom: 20px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}

.form input:focus,
.form textarea:focus {
  outline: 2px solid #d4b483;
}

.btn {
  background: #1f3b4d;
  color: #fff;
  padding: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background: #162c39;
}


/* --- Adicionando estilo ao footer ---*/

.footer {
  background: #1f3b4d;
  color: #ffffff;
  padding-top: 60px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 40px;
}

.footer-logo {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 14px;
  color: #d1dce2;
  margin-bottom: 15px;
  line-height: 1.6;
}

.footer-contact {
  font-size: 14px;
  color: #ffffff;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #d1dce2;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  width: 40px;
  height: 40px;
  display: flex;
  color: #ffffff;
}

.agencia {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.agencia:hover {
  color: #A1BCD6;
}

.agencia:focus {
  outline: none;
}

/* --- Adicionando estilo responsivo a página ---*/

@media (max-width: 768px) {

  /* ========= HEADER ========= */
  .header .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    text-align: center;
    font-size: 22px;
  }

  .nav {
    display: none;
  }

  /* ========= HERO ========= */
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    display: none; /* remove foto */
  }

  .info-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* ========= SERVIÇOS ========= */
  .areas-grid,
  .servicos-grid {
    display: block;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .areas-card,
  .servicos-card {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    line-height: 1.5;
  }

  /* ========= DEPOIMENTOS ========= */
  .depoimentos-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .depoimento-card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  .depoimento-card p {
    font-size: 14px;
    line-height: 1.5;
    word-break: normal;
    overflow-wrap: break-word;
  }


  /* ===== CONTATO ===== */
  .contato {
    text-align: center;
  }

  .contato-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contato h2,
  .contato h3,
  .contato p {
    text-align: center;
  }

  .contato-info {
    align-items: center;
    width: 100%;
  }

  .contato-form {
    width: 100%;
  }

  .contato-header{
    text-align: center;
  }

  .sobre-content {
    flex-direction: column;
  }

  .sobre-texto {
    order: 1;
    text-align: left;
  }

  .sobre-imagem {
    order: 2;
    margin-top: 20px;
    text-align: center;
  }

  .sobre-imagem img {
    max-width: 180px;
    width: 100%;
    height: auto;
  }

  /* ========= FOOTER ========= */
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-bottom-content {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1024px) {

  .servicos-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .depoimentos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}